body {
    font-family:"Helvetica", sans-serif;
    font-size: 16px;
    margin: 10%;
}
.box{
    width: 80%;
    margin: nome;
}
.container {
    background-color:#13110f;
    color:rgb(229, 216, 216);
    width: 1000px;
    box-sizing: border-box;

    margin-top:50px;
    margin-left: 50px;
    margin-right:  50px;
    margin-bottom: 50px;

   
    padding-top: 0px;
    padding-left: 60px;
    padding-right: 60px;
    padding: bottom 60px;
    padding: 60px;

    border-top: 15px solid #348888; 
    border-left: 15px solid#348888 ; 
    border-right:  15px solid #348888; 
    border-bottom:15px solid #348888 ; 
    border: 15px solid #348888;

} 

.main-aside h2 {
    text-align: center;
}
.main-aside h2:hover{
    color: blue;
    cursor: pointer;

}
.main-aside ul {
    list-style: none;
    text-align: center;
    padding:0%;
}

.main-aside ul a:hover {    
    color: red
}
.main-aside ul a:visited {
    color:#F24405;
}
/*formularioa*/
.main-form{
    padding-left: 20px;
}
.main-form .form-group{
    padding-bottom: 10px;
    
}

.main-form .form-group input{
    padding: 10px;
    width: 100%;
    }

.main-form .form-group label{
    display: block;
}

.relative{
    position: relative;
border: 3px solid #333;
height: 500px;
}

.button{
padding: 15px;
background-color: #005C53;
color:#D6D58E;

}
.relative .absolute {
    position: absolute;
    bottom:0;
}
.relative.absolute h1 {
    margin: 0;
}
#main-navbar{
    background: #333;
    color:#eee
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
}

